.wrapper {
    height: 50px;
    width: 100vw;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-size: 18px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);


    & button {
        font-size: 18px;
        border-radius: 5px;
        padding: 5px 10px;
    }
}